* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, rgb(51, 104, 202), rgb(20, 212, 155));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458);
  border-radius: 4px;
  background-color: #fff;
}

form input {
  width: 100%;
  padding: 10px;
  outline: none;
  margin: 6px;
  border: 1px solid #ddd;
}

form button {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background: rgb(12, 178, 229);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
}

.res {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458);
  border-radius: 4px;
  background-color: #fff;
  margin-left: 5rem;
}

ul {
  list-style: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  padding: 5px;
}

#nuber {
  min-width: 5vw;
  min-height: 5vh;
  border: 1px solid blue;
}

.right {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
